.notification-list {
    position: fixed;
    z-index: 999;
    top: 44px;
    right: 30px;
    width: 350;
    display: flex;
    flex-flow: column nowrap;
}

.notification-list .notification {
    position: relative;
    top: 0;
    margin: 10px 0 0;
}

.notification-item {
    &-enter {
        right: -200px;
        opacity: 0.2;
        &.notification-item-enter-active {
            right: 0px;
            opacity: 1;
            transition: right .3s ease-out, opacity 300ms ease;
        }
    }
    &-leave {
        opacity: 1;
        right: 0px;
    }
    &-leave.notification-item-leave-active {
        opacity: 0.01;
        right: -500px;
        transition: opacity 200ms linear, right 400ms linear;
    }
}